PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:8080

DB_HOST=82.197.93.107
DB_PORT=3306
DB_NAME=bot-invitations
DB_USER=root
DB_PASSWORD=

JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_ACCESS_EXPIRES=8h
JWT_REFRESH_EXPIRES_DAYS=7
JWT_REFRESH_REMEMBER_DAYS=30

FRONTEND_RESET_URL=http://localhost:8080/restablecer-contrasena
WORKER_INTERVAL_MS=5000
WA_SEND_INTERVAL_MIN_MS=15000
WA_SEND_INTERVAL_MAX_MS=30000
WA_SEND_MAX_PER_HOUR=20

ADMIN_EMAIL=admin@alannaconfirmaciones.com.mx
ADMIN_PASSWORD=admin1234

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

WC_API_URL=
WC_SERVICE_JWT=